:root {
    --primary-color: #5F4BB6;
    --secondary-color: #26F0F1;
    --text-color: #202A25;

}

body {
    background-color: #C4EBC8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 300px;
}

.progress {
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    transition: 0.4s ease;
    z-index: -1;
}
.circle{
    background-color:#fff;
    color:  var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--text-color);
    transition: 0.4s ease;
}
.circle.active{
    border-color: var(--primary-color);
}
.btn{
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px;
    font-size: 18px;
    border: none;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--text-color);
    cursor: not-allowed;
}